/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    height: 100%; /* Füllt die gesamte Höhe */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Mindestens die volle Höhe */
}

/* GLOBAL COLORS & VARIABLES */
:root {
    --background-color: #F3F3F3;
    --text-color: #1C1C1E;
    --primary-color: #0A84FF;
    --secondary-color: #E5E5E7;
    --footer-background-color: #E5E5E7;
    --link-color: #0071E3;
    --link-hover-color: #005BB5;
    --divider-color: rgba(0, 0, 0, 0.25);
    --divider-gradient: linear-gradient(to right, transparent, var(--divider-color), transparent);
    --slider-background-color: #E5E5EA;
    --slider-active-color: #007aff;
    --slider-handle-color: #ffffff;
}

/* DARK THEME */
.dark-theme {
    --background-color: #1C1C1E;
    --text-color: #F5F5F7;
    --primary-color: #181819;
    --secondary-color: #2C2C2E;
    --footer-background-color: #181819;
    --link-color: #0a84ff;
    --link-hover-color: #66bfff;
    --divider-color: rgba(255, 255, 255, 0.25);
    --slider-background-color: #2C2C2E;
    --slider-active-color: #0a84ff;
    --slider-handle-color: #ffffff;
}

/* HEADER STYLES */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Erhöhte Höhe */
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.header .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-center ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-center ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.header-center ul li a:hover {
    color: var(--link-hover-color);
}

.header-right {
    display: flex;
    align-items: center;
}

/* THEME SWITCHER */
.theme-switch-wrapper {
    margin-left: 20px;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-background-color);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: var(--slider-handle-color);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--slider-active-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative; /* Wichtig für absolute Positionierung der Kinder */
    margin-top: 60px; /* Platz für den Header */
    margin-bottom: 60px; /* Platz für den Footer */
    width: 100%;
    padding: 0; /* Entfernt jegliches Padding */
    box-sizing: border-box;
    overflow: hidden; /* Verhindert Scrollen */
}


/* SUBHEADER */
.subheader {
    position: fixed; /* Fixiert den Subheader am Viewport */
    top: 60px; /* Positioniert ihn direkt unter dem Header (angenommene Höhe des Headers: 60px) */
    left: 0;
    width: 100%;
    height: 60px; /* Passe an die tatsächliche Höhe deines Subheaders an */
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.0102  );
    color: white;
    font-size: 1rem;
    z-index: 999; /* Sicherstellen, dass der Subheader über dem Inhalt liegt */
}
/* SUBFOOTER */
.subfooter {
    position: absolute; /* Absolut positioniert innerhalb von .main-content */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    text-align: center;
    z-index: 2; /* Über der Slideshow */
    background-color: rgba(0, 0, 0, 0.5);
}
/* FOOTER STYLES */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Erhöhte Höhe */
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.footer a {
    color: var(--link-color);
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

/* BUTTON STYLES */
.btn {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.primary-btn {
    background-color: var(--link-color);
    color: white;
    border: none;
}

.primary-btn:hover {
    background-color: var(--link-hover-color);
}

/* DROPDOWN */
.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    color: white;
}

.dropdown {
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    position: relative;
}

.dropdown:hover {
    background-color: var(--link-hover-color);
}

.dropdown::after {
    content: '▼';
    position: absolute;
    right: 15px;
    pointer-events: none;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 60px auto 0 auto;  /* Zentriert den Container */
    box-sizing: border-box;
    justify-content: center; /* Zentriert die Karten innerhalb des Containers */
}

/* CARD STYLES */
.card {
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(25% - 20px); /* Vier Karten pro Zeile */
    max-width: calc(25% - 20px);
    box-sizing: border-box; /* Berücksichtigt Padding und Border in der Gesamtbreite */
}

/* Stellt sicher, dass die Kartenbilder innerhalb der Karten korrekt dargestellt werden */
.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Karten-Titel */
.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--link-color);
    margin-bottom: 5px;
}

/* Karten-Text */
.card-text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 10px;
}

/* Info-Container innerhalb der Karte */
.info-container {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
    color: var(--link-color);
    margin-top: auto; /* Schiebt den Info-Container an das Ende der Karte */
}

/* Hover-Effekt für die Karten */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* MEDIA QUERIES für Responsivität */
@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(33.333% - 20px); /* Drei Karten pro Zeile */
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* Zwei Karten pro Zeile */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; /* Eine Karte pro Zeile */
    }
}

/* SLIDESHOW CONTAINER */
.slideshow-container {
    position: absolute; /* Absolut positioniert innerhalb von .main-content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Füllt die gesamte Höhe von .main-content */
    overflow: hidden;
    z-index: 1; /* Hinter Subheader und Subfooter */
}

/* SLIDE STYLES */
.slide {
    display: none;
    width: 100%;
    height: 100%; /* Füllt die gesamte Höhe des Slideshow-Containers */
    position: absolute; /* Übereinander liegende Slides */
    top: 0;
    left: 0;
}

/* SLIDE TITLE */
.slide-title {
    position: absolute;
    bottom: 0px; /* Positionierung unterhalb des Subheaders */
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 1.0rem;
    text-align: center;
    padding: 10px 20px;
    z-index: 2; /* Über dem Slide-Bild, aber unter dem Subheader */
    background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund für bessere Lesbarkeit */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* AKTIVE SLIDE SICHTBAR MACHEN */
.slide.active {
    display: block;
}

/* NAVIGATION BUTTONS */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
    z-index: 3; /* Über der Slideshow und den Slides */
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* DOTS */
.dots-container {
    position: absolute;
    bottom: 60px; /* Über dem Subfooter */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 3;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}

/* DIVIDER */
.divider {
    border: 0;
    height: 1px;
    background: var(--divider-gradient);
    margin: 20px 0;
}